.products {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin: 5px 5px 5px 50px;
  padding: 10px;
}

.product-details {
  margin-left: 20px;
}
.product-details h3 {
  color: blue;
}
.product-details p small {
  background-color: #cfe4b8;
  padding: 10px;
}

.main-button {
  background-color: darkgoldenrod;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  width: 200px;
  cursor: pointer;
  border: 1px solid darkgoldenrod;
  font-weight: 700;
  margin-right: 5px;
}
.main-button:hover {
  background-color: #f8f6f6;
  color: #000;
  font-weight: 700;
}
